
.dialog-title {
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

.field-style {
    margin: 20px;
  }
  
  .custom-sx {
    margin-right: 20px;
    width: 300px;
  }

  .custom-textfield {
    width: 50%; /* Adjust the width as needed */
    min-height: 100px; /* Adjust the minimum height as needed */
  }